.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear-float {
    clear: both;
}

.left-panel {
    border-right: 1px solid lightgray;
    height: 90vh;
}

.copyright {
    float: right;
}
