.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear-float {
    clear: both;
}

.left-panel {
    border-right: 1px solid lightgray;
    height: 90vh;
}

.right-panel {
    height: 90vh;
}

.copyright {
    float: right;
}

.tutorial-btn {
    position: absolute;
    right: 2%;
    bottom: 2%;
}
